In [1]:
#load up the basics
import os, shutil
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
modeldir = '../data/tables/Model3AllPreds.csv'
preds = pd.read_csv(modeldir)
preds.head()

                                  Filename  Prediction
0  Barry/20190716a_jpgs/jpgs/C19748935.jpg    0.679300
1  Barry/20190716a_jpgs/jpgs/C19748941.jpg    0.456580
2  Barry/20190716a_jpgs/jpgs/C19748947.jpg    0.469627
3  Barry/20190716a_jpgs/jpgs/C19748953.jpg    0.444304
4  Barry/20190716a_jpgs/jpgs/C19748959.jpg    0.443178

In [9]:
#preds['wash'] = round(preds['Prediction'])
#preds.head()

predsWash = preds[preds["Prediction"] >= 0.5]
predsWash.head()

                                   Filename  Prediction
0   Barry/20190716a_jpgs/jpgs/C19748935.jpg    0.679300
52  Barry/20190716a_jpgs/jpgs/C19749248.jpg    0.982677
53  Barry/20190716a_jpgs/jpgs/C19749254.jpg    0.937290
79  Barry/20190716a_jpgs/jpgs/C19749410.jpg    0.998924
80  Barry/20190716a_jpgs/jpgs/C19749416.jpg    1.000000

In [10]:
predsWash.shape

(28394, 2)

In [ ]:
#m1 = 35441
#m2 = 33092
#m3 = 28394